[submodule "FX2LP/fx2lib"]
	path = FX2LP/fx2lib
	url = https://github.com/djmuhlestein/fx2lib
[submodule "fxload"]
	path = fxload
	url = https://github.com/mbed-ce/fxload
[submodule "250304_L1L5_32MHz/GNSS-matlab"]
	path = 250304_L1L5_32MHz/GNSS-matlab
	url = https://github.com/danipascual/GNSS-matlab
